/*  font-family: 'Poppins', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sec {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0062be;
    transition: 0.5s;
}
.toggleMenu .fa-bars, 
.toggleMenu .fa-times {
    display: none;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
     position: relative;
     max-width: 80px;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    list-style: none;
    
}
header ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}
header ul li:hover a {
    color: #00be00;
    transform: translateY(-7px);
}
.contant {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contant .textBox {
    position: relative;
    max-width: 600px;
}
.contant .textBox h2 {
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}
.contant .textBox h2 span {
    font-size: 2em;
}
.contant .textBox p {
    color: #fff;
}
.contant .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.contant .imgBox {
    width: 600px;
    display: flex;
    margin-top: 50px;
    padding-right: 50px;
    justify-content: flex-end;
}
.contant .imgBox img {
    max-width: 260px;
}
.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
}
.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover {
    transform: translateY(-15px);
}
.thumb li img {
    max-width: 40px;
}
.social {
    position: absolute;
    top: 40%;
    right: 30px;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.social li {
    list-style: none;
}
.social li a i {
    color: #fff;
    font-size: 30px;
    margin-top: 20px;
}

/* responsive  */

@media (max-width: 991px) {
    .sec {
        padding: 40px;
        padding-bottom: 140px;
    }
    header {
        padding: 20px 40px;
    }
    header .logo img {
        position: relative;
        max-width: 60px;
    }
    header ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: 0.5s;
    }
    header ul li a {
        display: inline-block;
        color: #111;
        margin-left: 0;
        font-size: 1.5em;
        margin: 10px 0;

    }
    header ul li a:hover {
        color: #ed0223;
    }
    .toggleMenu .fa-bars {
        display: inline;
        position: relative;
        z-index: 2;
    }
    .toggleMenu.active .fa-times{
        color: #111;
        display: inline;
        position: relative;
        z-index: 3;
    }
    .toggleMenu.active .fa-bars {
        display: none;
    }
    header .navigation.active {
        transform: translateX(0);
    }
    .contant {
        flex-direction: column;
        margin-top: 80px;
    }
    .contant .textBox {
        position: relative;
        max-width: 100%;
        padding-right: 20px;
    }
    .contant .textBox h2 {
        font-size: 3em;
    }
    .contant .textBox a {
        padding: 8px 15px;
        font-size: 14px;
    }
    .contant .imgBox {
        width: 100%;
        display: flex;
        padding-right: 0;
        margin-top: 50px;
        justify-content: center;
    }
    .contant .imgBox img {
        max-width: 150px;
    }
    .thumb li img {
        max-width: 30px;
    }
    .social {
        width: 50px;
        right: -25px;
        background: rgba(0,0,0,0.2);
        padding-bottom: 15px;
    }
}